.header{
    background-color: aquamarine;
    padding: 25px;
    gap: 20px;
   

}
.logo-container{
    display: flex;
   
}
.logo{
    width: 20px;
    height: 20px;
}
.navbar{
    
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}
.navlink{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navitem{
    display: flex;
    flex-direction: row;
    gap: 10px;
}