
.header {
    background-color: transparent;
    padding: 25px;
    gap: 20px;
    position: relative;
  }
  
  .logo-container {
    display: flex;
  }
  
  .logo {
    width: 190px; 
    height: 70px;
  }
  
  .navbar {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .navlink {
    text-decoration: none;
    color: #161D6F;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .navitem {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 18px;
  }
  
  .navToggle {
    display: none;
  }
  
  .toggleIcon {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    .navitem {
      display: none; 
    }
  
    .navToggle {
      display: flex;
      flex-direction: column;
      gap: 10px; 
      position: absolute; 
      top: 100%; 
     left: 0;
      background-color: white; 
      padding: 20px;
      border: 1px solid #ddd; 
      z-index: 1000; 
    }
  
    .toggleIcon {
      display: block;
    }
  }
  