body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  background-color: #ffffff; /* or any color you prefer */
  border: 1px solid #e2e8f0; /* matching border color */
  color: #1a202c; /* text color */
}

/* Override focus styling */
input:focus {
  outline: none; /* Remove default outline */
  background-color: #ffffff; /* Ensures background stays white */
  border-color: #3b82f6; /* Optional: change border color on focus */
}
